<nav
  class="bottom-nav"
  [ngClass]="activeClass"
>
  <div class="bottom-nav__track">
    <span class="bottom-nav__indicator" aria-hidden="true"></span>

    <button
      type="button"
      *ngFor="let item of items"
      [class.is-active]="isItemActive(item)"
      [attr.aria-label]="item.label"
      [attr.title]="item.label"
      (click)="handleItemClick(item)"
    >
      <span class="nav-icon-wrap">
        <span class="nav-icon material-icons" aria-hidden="true">{{ item.icon }}</span>
        <span
          class="nav-badge"
          *ngIf="item.key === 'chat' && unreadChatCount"
        >
          {{ unreadChatBadge }}
        </span>
      </span>

      <span class="nav-label">{{ item.label }}</span>
    </button>
  </div>
</nav>
